.Gif {
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 20px;
  padding: 30px;
  width: 50%;
  
}

.Gif h4 {
  margin: 0;
}


.Gif img{
  object-fit: contain;
}

